    <!-- Footer -->


    <footer class="site-footer">
        <div class="container">
            <p>&copy; {{ 'now' | date: "%Y" }} UpperCrumbs. All rights reserved.</p>
            <p>UpperCrumbs is owned and operated by ZingLab LLC</p>
            <br>
            <p>ZingLab and UpperCrumbs are not responsible for claims or statements made on property landing pages. Contact property managers for any questions.</p>
            <br>
            <a class="zinglab" href="https://zinglab.com/?ref=uppercrumbs" target="_blank">Site Managed by ZingLab.com</a>
        </div>
    </footer>